<!DOCTYPE html>
<html ng-app="universidadApp">
  <head>
    <meta charset="UTF-8" />
    <title>Http ejemplos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/lib/angular.min.js"></script>
    <script src="js/aplicacion.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="postController as controlador">
      <h1>Posts {{controlador.cantidad}}</h1>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">Registrar post</div>
            <div class="card-body">
              <input
                type="text"
                class="form-control"
                placeholder="Titulo"
                ng-model="controlador.post.title"
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="Cuerpo"
                ng-model="controlador.post.body"
              />
              <br />
              <input
                type="submit"
                class="btn btn-success"
                value="Registrar"
                ng-click="controlador.addPost()"
              />
              <br />
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped table-primary">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>UserId</th>
                    <th>Titulo</th>
                    <th>Cuerpo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="post in controlador.posts">
                    <td>{{post.id}}</td>
                    <td>{{post.userId}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
